<md-list>
  <md-list-item ng-class="{'b-t': $first}"
                ui-sref="app.issue-detail({id:issue.id})"
                class="b-b secondary-button-padding animate-fade"
                ng-repeat="issue in vm.issues.list track by issue.id">

    <div class="m-v" layout="row" layout-align="start center" layout-align-xs="" layout-xs="column" flex>
      <div class="md-list-item-text">
        <b class="text-uppercase text-sm text-muted">{{issue.type.name}}</b>
        <h3 class="no-margin">{{issue.name}}</h3>
        <div class="text-sm">Fixers: {{issue.fixers | UserList:', '}} | Testers: {{issue.testers | UserList:', '}}</div>
        <div class="text-sm">{{issue.priority.name}} Priority</div>
      </div>
      <span flex></span>
      <div class="m-l p-v-sm text-uppercase">{{issue.status.name}}</div>
    </div>

  </md-list-item>
</md-list>
<md-table-pagination class="b-b" md-limit="vm.query.pageSize" md-limit-options="[1, 5, 10, 15]" md-page="vm.query.page"
                     md-total="{{vm.query.total}}"
                     md-on-paginate="vm.onPaginate"
                     md-label="{rowsPerPage: 'Issues per page:'}"
                     md-page-select>
</md-table-pagination>