<div>
  {% block body %}
  <h3>{% block body_title %}{% endblock %}</h3>
  <h4>{% block body_subtitle %}{% endblock %}</h4>

  <div>
    {% block body_content %}{% endblock %}
  </div>
  {% endblock %}

  <br><br>
  <div>
    {% block footer %}
      - Rental Raters Team
    {% endblock %}
  </div>
  <br><br>
</div>