{% extends 'email/base.email.html.twig' %}

{% block body_title %}Hi, {{ user.getFullName() }}.{% endblock %}
{% block body_subtitle %}You have requested a password reset.{% endblock %}

{% block body_content %}
  <p>Open the link below and follow the instructions on the password reset page to obtain your new password.</p>
  <a href="{{ host }}/#/reset-password?token={{ user.getConfirmationToken() }}"><b>Reset Password</b></a>
{% endblock %}